// Arquivo: src/scss/header.scss
@use "variables" as *;
// Header fixo
#js-header {
  transition: all 0.3s;
}
#js-header.fixed-menu {
  background: #152b4a;
  height: 80px;
}
//páginas internas
.page-interna .nav_component {
  opacity: 100%!important;
}
