// Arquivo: src/scss/header.scss
@use "variables" as *;
// Header fixo
#js-header {
  transition: all 0.3s;
}
#js-header.fixed-menu {
  background: $primary;
  height: 80px;
}

//páginas internas
.page-interna .nav_component {
  opacity: 100% !important;
}
// Placeholder
.form_field-wrapper-2 .form_input_text::placeholder {
  color: $muted-foreground !important;
}

#js-header.dropdown-open {
  background-color: $primary;
}

