// Baoba - Variáveis SCSS
// Arquivo: src/scss/_variables.scss
@use "sass:map";

// Cores
$primary: #152b4a;
$muted-foreground: #506178;
$white: #ffffff;
$transition: all 0.3s ease;

// Breakpoints otimizados (apenas 3)
$breakpoint: (
  "desktop": 1280px,
  // Desktops e laptops
  "tablet": 1025px,
  // Tablets
  "mobile": 640px // Smartphones ,
);

// Mixin responsivo
@mixin responsivo($breakpoint-name) {
  @if map.has-key($breakpoint, $breakpoint-name) {
    @media (max-width: map.get($breakpoint, $breakpoint-name)) {
      @content;
    }
  } @else {
    @warn "Breakpoint não existe: #{$breakpoint-name}";
  }
}
